<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>??Welcome??</title>
    <style>
        img {
            margin: 3em;
            height: 20em;
        }
    </style>
</head>

<body>
    <h2>Selamat! Ini merupakan foto bonus yang menurut saya layak di bagi???</h2>
    <hr>
    <img src="img/album/20220423193334__MG_4802_1.jpg" loading="lazy">
    <img src="img/album/20220423193334__MG_4802_2.jpg" loading="lazy">
    <img src="img/album/20220423193334__MG_4802_3.jpg" loading="lazy">
    <img src="img/album/20220423193334__MG_4802_4.jpg" loading="lazy">
    <hr>
    <h3>Sekian, Tq <a href="{=Xii\Rpl1\Helper::baseUrl()}">Balik ke halaman utama</a></h3>
</body>

</html>