<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{block title}{/block}</title>
  <link rel="stylesheet" href="{=Xii\Rpl1\Helper::asset()}css/components.css" />
  <link rel="stylesheet" href="{=Xii\Rpl1\Helper::asset()}css/icons.css" />
  <link rel="stylesheet" href="{=Xii\Rpl1\Helper::asset()}css/responsee.css" />
  <link rel="stylesheet" href="{=Xii\Rpl1\Helper::asset()}owl-carousel/owl.carousel.css" />
  <link rel="stylesheet" href="{=Xii\Rpl1\Helper::asset()}owl-carousel/owl.theme.css" />
  <link rel="stylesheet" href="{=Xii\Rpl1\Helper::asset()}css/lightcase.css" />
  <!-- CUSTOM STYLE -->
  <link rel="icon" type="image/x-icon" href="{=Xii\Rpl1\Helper::asset()}/img/LogoRPL1.ico">
  <link rel="stylesheet" href="{=Xii\Rpl1\Helper::asset()}css/template-style.css" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900&subset=latin-ext" rel="stylesheet" />
  <script type="text/javascript" src="{=Xii\Rpl1\Helper::asset()}js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="{=Xii\Rpl1\Helper::asset()}js/jquery-ui.min.js"></script>
</head>

<body class="size-1140">
  <div id="page-wrapper">
    <!-- HEADER -->
    <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">
      <!-- Top Navigation -->
      <nav class="background-transparent background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
          <a href="index.html" class="logo">
            <!-- Logo version before sticky nav -->
            <img class="logo-before" src="{=Xii\Rpl1\Helper::asset()}img/LogoRPL1WithTextdark.png" alt="" />
            <!-- Logo version after sticky nav -->
            <img class="logo-after" src="{=Xii\Rpl1\Helper::asset()}img/LogoRPL1WithTextdark.png" alt="" />
          </a>
        </div>
        <div class="s-12 l-10">
          <div class="top-nav right">
            <p class="nav-text"></p>
            <ul class="right chevron">
              <li><a href="{=Xii\Rpl1\Helper::baseUrl()}">Halaman Utama</a></li>
              <li><a href="{=Xii\Rpl1\Helper::url(about)}">Tentang Kami</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      {block content}{/block}
    </main>

    <!-- FOOTER -->
    <footer style="margin-top:1em">
      <div class="background-dark padding text-center footer-social">
        <strong>{$quotes}</strong>
      </div>
      <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 0, 0, 0.8)" />

      <!-- Bottom Footer -->
      <section class="padding background-dark full-width">
        <div class="text-center">
          <p class="text-size-12">
            Copyright {date('Y')} by XII RPL 1 Team. All rights reserved.
          </p>
          <p class="text-size-12">
            <strong>
              THIS PHOTO IS PROTECTED BY CC0-1.0 LICENSE. DO NOT USE THIS
              PHOTO WITHOUT THE OWNER PERMISSION.
            </strong>
            <br />
            <strong>
              FOTO INI DILINDUNGI OLEH LISENSI CC0-1.0. JANGAN MENGGUNAKAN
              FOTO INI TANPA PERSETUJUAN DARI PEMILIK.
            </strong>
            <br>
            Edit this page on <b><a href="https://github.com/albetnov/xiirpl1" target="_blank">Github</a></b>
          </p>
        </div>
      </section>
    </footer>
  </div>
  <script type="text/javascript" src="{=Xii\Rpl1\Helper::asset()}js/responsee.js"></script>
  <script type="text/javascript" src="{=Xii\Rpl1\Helper::asset()}js/jquery.events.touch.js"></script>
  <script type="text/javascript" src="{=Xii\Rpl1\Helper::asset()}owl-carousel/owl.carousel.js"></script>
  <script type="text/javascript" src="{=Xii\Rpl1\Helper::asset()}js/template-scripts.js"></script>
</body>

</html>